<%= form_with(model: @departamento, local: true) do |form| %>
  <% if @departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= @departamento.errors.count %> erro(s) impediu este departamento ser de criado:</h2>

      <ul>
      <% @departamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit texto_da_acao, class:"btn btn-default" %>
    <%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
  </div>
<% end %>
